.navbar{
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}